*,
::before,
::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#total{
    padding-top: 20px;
  
    width: 1365px;
    height: 657px;
   
}
  .container {
    width: 30rem;
    height: 20rem;
    margin-top: 200px;
    margin-left: 450px;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
    border-radius: 5px;
    background-color: rgba(255, 255, 255, .15);
    backdrop-filter: blur(5px);
  }
 body{
    background-image: url(vv.png);
    background-color: #f4f4f4;
    font-family: Montserat, Helvetica, sans-serif;
    background-size: cover;
    display: grid;
     
    height: 100vh;
   
 }

 nav{
    position: fixed;
    width: 100%;
    display: flex; 
    align-items: center;
    padding: 15px 25px;
    background: #fafafa;
    box-shadow: inset 0px -1px 0px #c5c5c6;
 }
 .nav-icon{
     display: flex;
     align-items: center;
     text-decoration: none;
     margin-right: 20px;
 }
 .nav-icon span{
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    margin-left:10px;
    font-weight: 400;
    color: #333;
}

.nav-icon img{
    width: 40px;
    transform: rorate(-20deg) translateX(5px);
}


.open{
    transform: translate(0%);
}

.container-menu{
margin: 0 10px;
font-size: 16px;
font-weight: 500;
text-decoration: none;
color: #414141;
position: absolute;
display:flex;
flex-direction: column;
left: -10px;
background: #fafafa;
top: 100%;
width: 350px;
height: 30vh; 
padding: 5px 3px ;
border-right: 1px solid #c5c5c6;
/*ransform: translate(-100%);*/
}
#a{
margin-top: 10px;
}
.navlinks-container a {
margin: 0 10px;
font-size: 16px;
font-weight: 500;
text-decoration: none;
color: #414141;
position: relative;
display: inline-block;
}
.container-menu::after{
    content: "";
    display: block;
    position: absolute;
    bottom: -3px;
    width: 100%;
    height: 1px;
    transform: scaleX(0);
    transform-origin: left;
    background: #333;
    transition: transform 0.3s ease-out;
}
.navlinks-container a::after{
    content: "";
    display: block;
    position: absolute;
    bottom: -3px;
    width: 100%;
    height: 1px;
    transform: scaleX(0);
    transform-origin: left;
    background: #333;
    transition: transform 0.3s ease-out;
}
.navlinks-container a:hover::after{
    transform: scaleX(1);
}
@media (max-width: 630px){
    nav{
        padding: 15px 20px;
        position: relative;
    }
    .nav-icon{
        order:2;
        margin: 0 auto;
    }
    .nav-icon span{
        font-size: 22px;
    }

    .main-navlinks{
        order: 1;
    }
   
    .open{
        transform: translate(0%);
    }
     

    .navlinks-container{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: absolute;
        background: #fafafa;
        top: 100%;
        left: 0;
        height: 100vh; 
        padding:  15px 50px 15px 20px;
        border-right: 1px solid #c5c5c6;
        transform: translate(-100%);
       
    }

      .navlinks-container a{
          font-size: 18px;
          margin: 10px 0
      }
    }